html {
  text-align: center;
  background:  url('https://media.giphy.com/media/8qzZxm4TDdXHEDSGD2/giphy.gif') no-repeat center center fixed;
  background-size: cover;

}

p{
font-family: 'Ubuntu', sans-serif;

}

.root {
   position: absolute;
   margin: auto;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width:70%;
   height:600px;

}



.vertical h1 {
  font-family: 'Ubuntu', sans-serif;
 margin:0;
}

h4{
  font-family: 'Ubuntu', sans-serif;
  color: #ffb4d9;
   margin:0;
}

.App-logo {
  height: 40vmin;
}

.vertical {
  border-radius: 10px;
  border: 2px solid white;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: rgba(0,0,0,0.2);
  padding: 10px;

}

.horiz{

}

.App-link {
  color: #09d3ac;
}


.Jumbotron{

  background-color: white;
}

.Con{
  background-color: transparent;
}
