<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> IMF </title>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/App.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="root">
      <div class="vertical">
        <h1> In My Feelings? </h1>
                <h4> ML Powered Mood Prediction</h4>
                <p> 1. Play a song on spotify (Make sure it is currently playing!)  </p>
                <p>
                  2. <button class="main__login" onclick="spotify_redirect()"> Login to Spotify</button>
                </p>

                <p>3. Find out your current mood </p>
      </div>
    </div>
    <footer id="footer">
  <p>Created by: Sylvester</p>
  <p>Contact : <a href="mailto:sylvester@cardorelle.io">
  sylvester@cardorelle.io</a>.</p>
  </footer>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
  </body>
</html>
